.container{
    display: flex;
    border: 10px solid black;
    height: 90vh; /* vh = viewport height unit */
    flex-wrap: wrap;
/*  align-content: flex-start;
    column-gap: 3em;
    row-gap: 3em;
    align-content: flex-end;
    align-content: center;
    align-content: space-evenly;
    align-content: space-between;
    justify-content: space-evenly;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;      
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;        
    align-items: baseline;  */
}
.box{    
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: lightcoral;   
}
#box2{
    background-color: lightblue;
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: lightsalmon;
}